<h1>Products</h1>
<% @products.each do |product| %>
  <h3><%= product.name %></h3>
  <div id="product-<%= product.id %>"><%= truncate(product.description) %></div>
  <button class="js-more" data-id="<%= product.id %>">More Info</button>
<% end %>

<script type="text/javascript" charset="utf-8">
$(function() {
  $(".js-more").on("click", function() {
    var id = $(this).data("id");
    $.get("/products/" + id + ".json", function(data) {
      var product = data["product"];
      var description = product["description"];
      if (product["inventory"] > 0) {
        var inventory = "Available"
      } else {
        var inventory = "Sold Out"
      }
      var price = product["price"];
      var orders = product["orders"].map(order => order["products"].map(product => product["name"]));
      var product_text = description + "<br> Price: " + price + "<br> Inventory: " + inventory;
      var order_list = orders.join("<br>")
      $("#product-" + id).html(product_text + "<br>" + order_list);
    });
  });
});
</script>
