<h1>Products</h1>
<% @products.each do |product| %>
  <%= render partial: "product", locals: {product: product} %>
<% end %>
  
<script type="text/javascript" charset="utf-8">
$(function() {
  $(".js-more").on("click", function() {
    var id = $(this).data("id");
    $.get("/products/" + id + ".json", function(data) {
        var inventoryText = "<strong>Available</strong>";
        if(data['inventory'] < 1){
          inventoryText = "<strong>Sold Out</strong>";
        }
        var descriptionText = "<p>" + data['name'] + "</p><p>" + data['description'] + "</p><p>" + inventoryText + "</p>";
        $("#product-" + id).html(descriptionText);
      });
    });
  });
</script>